.cart-img {
  height: 50px;
  margin-right: 5px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#lblCartCount {
  font-size: 12px;
  background: #fff;
  color: #000;
  padding: 0 5px;
  vertical-align: top;
}
