.custom-shape-divider-bottom-1643937408 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643937408 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 189px;
}

.custom-shape-divider-bottom-1643937408 .shape-fill {
    fill: #FFBD52;
}

#portada-cuenta {
    height: 88vh;
    background-color: #333;
}