.experiencia-container {
	background-image: url(../imagenes/experiencia.jpg);
	background-size: cover;
	min-height: 85vh;
	background-position: center;
	background-attachment: fixed;
	font-style: italic;
	object-fit: center;
}

.titulo-experiencia {
	color: #fff;
	font-size: 3rem;
	font-family: 'Ubuntu', sans-serif;
	padding-left: 30px;
}

.subtitulo-experiencia {
	color: #fff;
	font-size: 2.5rem;
	font-family: 'Ubuntu', sans-serif;
	padding-left: 70px;
}

.text-slant {
	font-family: 'Ubuntu', sans-serif;
	color: #ffbd52;
	font-size: 3rem;
	font-style: italic;
	margin-left: 4em;
}
