.card {
	min-height: min-content;
	border: 1px solid #ffbd52;
	transition: all 0.5s;
	width: 30%;
}

.card:hover {
	transform: scale(1.05);
}

.card-body a {
	transition: all 0.5s;
}
.card-body a:hover {
	background-color: #000;
	color: #ffbd52;
}

@media screen and (max-width: 700px) {
	.card {
		width: 100%;
	}
}
